{% extends "BaseView.html" %}
{% load static %}
{% block content %}
<div class="modal fade" tabindex="-1" id="sessionDeleter" aria-labelledby="dialog-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialog-title">Удаление выборки</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Подтвердить удаление текущей выборки сессий?
      </div>
      <div class="modal-footer">
        <form method="post" action="">
          {% csrf_token %}
          <input type="hidden" name="delete" value="del">
          <button type="submit" class="btn btn-outline-secondary">Да</button>
        </form>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="sessionPredictor" aria-labelledby="dialog-title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dialog-title-predict">Предикция текущей выборки</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Закрыть">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Осуществить предикцию текущей выборки? Предикция может занимать длительное время.
      </div>
      <div class="modal-footer">
        <form method="post" action="">
          {% csrf_token %}
          <input name="prediction" type="hidden" value="predict">
          <button type="submit" class="btn btn-outline-secondary">Да</button>
        </form>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Нет</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid w-100 g-0">
  <div class="row">
    <div class="col-12">
      <form method="post" action="filterexecutor/">
        {% csrf_token %}
      <table class="filter_table">
        <tr>
          <td>
            <label for="metkaDatalist" class="form-label">метка</label>
            <input class="form-control" list="datalistmetka" name="metka" id="metkaDatalist" placeholder="Введите метку" value = "{{ metka_filter_value }}"/>
            <datalist id="datalistmetka">
              {% for vf in metka_values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="utm_sourceDatalist" class="form-label">utm_source</label>
            <input class="form-control" list="datalist_utm_source" name="utm_source" id="utm_sourceDatalist" placeholder="Введите значение" value = "{{ utm_source_filter_value }}">
            <datalist id="datalist_utm_source">
              {% for vf in utm_source_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="utm_mediumDatalist" class="form-label">utm_medium</label>
            <input class="form-control" list="datalist_utm_medium" name="utm_medium" id="utm_mediumDatalist" placeholder="Введите значение" value="{{ utm_medium_filter_value }}">
            <datalist id="datalist_utm_medium">
              {% for vf in utm_medium_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="utm_campaignDatalist" class="form-label">utm_campaign</label>
            <input class="form-control" list="datalist_utm_campaign" name="utm_campaign" id="utm_campaignDatalist" placeholder="Введите значение" value="{{ utm_campaign_filter_value }}">
            <datalist id="datalist_utm_campaign">
              {% for vf in utm_campaign_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="utm_adcontentDatalist" class="form-label">utm_adcontent</label>
            <input class="form-control" list="datalist_utm_adcontent" name="utm_adcontent" id="utm_adcontentDatalist" placeholder="Введите значение" value="{{ utm_adcontent_filter_value }}">
            <datalist id="datalist_utm_adcontent">
              {% for vf in utm_adcontent_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="utm_keywordDatalist" class="form-label">utm_keyword</label>
            <input class="form-control" list="datalist_utm_keyword" name="utm_keyword" id="utm_keywordDatalist" placeholder="Введите значение" value="{{ utm_keyword_filter_value }}">
            <datalist id="datalist_utm_keyword">
              {% for vf in utm_keyword_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="device_brandDatalist" class="form-label">device_brand</label>
            <input class="form-control" list="datalist_device_brand" name="device_brand" id="device_brandDatalist" placeholder="Введите значение" value="{{ device_brand_filter_value }}">
            <datalist id="datalist_device_brand">
              {% for vf in device_brand_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td class="filter_button">
            <button type="button" onclick="location.href='{% url 'filtercleaner' %}'" class="btn btn-outline-secondary">Сбросить фильтр</button>
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-label" for="date_begin">запись после</label>
            <input type="date" name="begin_date" id="date_begin" class="form-control" value = "{{ begin_date_filter_value }}">
          </td>
          <td>
            <label class="form-label" for="date_end">запись до</label>
            <input type="date" name="end_date" id="date_end" class="form-control" value = "{{ end_date_filter_value }}">
          </td>
          <td>
            <label class="form-label" for="visit_number">visit_number</label>
            <input type="number" name="visit_number" id="visit_number" class="form-control" placeholder="Введите значение" value = "{{ visit_number_filter_value }}">
          </td>
          <td>
            <label for="device_screen_resolutionDatalist" class="form-label">device_screen_resolution</label>
            <input class="form-control" list="datalist_device_screen_resolution" name="device_screen_resolution" id="device_screen_resolutionDatalist" placeholder="Введите значение" value = "{{ device_screen_resolution_filter_value }}">
            <datalist id="datalist_device_screen_resolution">
              {% for vf in device_screen_resolution_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
            <td>
            <label for="geo_cityDatalist" class="form-label">geo_city</label>
            <input class="form-control" list="datalist_geo_city" name="geo_city" id="geo_cityDatalist" placeholder="Введите значение" value = "{{ geo_city_filter_value }}">
            <datalist id="datalist_geo_city">
              {% for vf in geo_city_values.values %}
              <option>{{ vf }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="session_statusDatalist" class="form-label">статус сессии</label>
            <input class="form-control" list="datalist_session_status" name="session_status" id="session_statusDatalist" placeholder="Введите значение" value = "{{ session_status_filter_value }}">
            <datalist id="datalist_session_status">
              {% for ss in session_status_values %}
              <option>{{ ss }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td>
            <label for="predict_session_statusDatalist" class="form-label">предикт-статус сессии</label>
            <input class="form-control" list="datalist_predict_session_status" name="predict_session_status" id="predict_session_statusDatalist" placeholder="Введите значение" value = "{{ predict_session_status_filter_value }}">
            <datalist id="datalist_predict_session_status">
              {% for ss in predict_session_status_values %}
              <option>{{ ss }}</option>
              {% endfor %}
            </datalist>
          </td>
          <td class="filter_button">
            <button type="submit" class="btn btn-outline-secondary">Применить фильтр</button>
          </td>
        </tr>
      </table>
      </form>
      </div>
    </div>
  <hr/>
  <div class="row">
    <div class="col-10">
      <div class="row">
        <div class="col-12">
      <table style="font-size:12px;margin-left:10px;"><tr><td>Сессий в выборке: {{ n_sessions }}.</td><td><form method="post" action="">{% csrf_token %}<table style="font-size:12px;"><tr><td>Показано {{ menge_sessions }}, начиная с </td><td><input type="number" name="page_number" class="form-control" value = "{{ page_number }}"></td><td><button type="submit" class="btn btn-outline-secondary">Отобразить</button></td></tr></table></form></td></tr></table>
      </div>
        </div>
      <div class="row">
        <div class="col-12 haupt_table">
      <table id="sessions" class="table table_session" cellspacing="0" width="95%">
        <thead>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_metka" value="sort"><button class="header_session" type="submit">метка{{ sort_metka }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_date" value="sort"><button class="header_session" type="submit">дата{{ sort_date }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_session_status" value="sort"><button class="header_session" type="submit">session_status{{ sort_session_status }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_predict_session_status" value="sort"><button class="header_session" type="submit">predict_session_status{{ sort_predict_session_status }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_visit_number" value="sort"><button class="header_session" type="submit">visit_number{{ sort_visit_number }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_utm_source" value="sort"><button class="header_session" type="submit">utm_source{{ sort_utm_source }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_utm_medium" value="sort"><button class="header_session" type="submit">utm_medium{{ sort_utm_medium }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_utm_campaign" value="sort"><button class="header_session" type="submit">utm_campaign{{ sort_utm_campaign }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_utm_adcontent" value="sort"><button class="header_session" type="submit">utm_adcontent{{ sort_utm_adcontent }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_utm_keyword" value="sort"><button class="header_session" type="submit">utm_keyword{{ sort_utm_keyword }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_device_brand" value="sort"><button class="header_session" type="submit">device_brand{{ sort_device_brand }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_device_screen_resolution" value="sort"><button class="header_session" type="submit">device_screen_resolution{{ sort_device_screen_resolution }}</button></form></th>
        <th scope="col"><form method="post" action="sorterexecutor/">{% csrf_token %}<input type="hidden" name="sort_geo_city" value="sort"><button class="header_session" type="submit">geo_city{{ sort_geo_city }}</button></form></th>

        </thead>
        <tbody>
          {% for session in sessions %}
            <tr>
              <td name="{{ session.id }}" class="session-row">{{ session.label }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.getDate }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.session_status }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.getPStatusView }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.visit_number }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.utm_source }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.utm_medium }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.utm_campaign }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.utm_adcontent }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.utm_keyword }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.device_brand }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.device_screen_resolution }}</td>
              <td name="{{ session.id }}" class="session-row">{{ session.geo_city }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
          </div>
      </div>
    </div>
     <div class="col-2">
       <ul class="header_ul">
            <li>
              <form id="uploaddata" enctype="multipart/form-data" method="post" action="loaddata/">
                {% csrf_token %}
                <input name="labeldata" type="text" placeholder="Метка загружаемых данных"/>
                <input id="filedata" name="filedata" type="file"/>
                <button type="submit" class="btn btn-outline-secondary">Загрузить данные</button>
              </form>
              <hr/>
            </li>
            <li>
              <form id="set_label" method="post" action="">
                {% csrf_token %}
                <input name="set_label" type="text" placeholder="Метка текущей выборки"/>
                <button type="submit" class="btn btn-outline-secondary">Установить метку</button>
              </form>
              <hr/>
            </li>
            <li>
              <button type="submit" class="btn btn-outline-secondary remotemenu" data-bs-toggle="modal" data-bs-target="#sessionPredictor">Предикция выборки</button>
            </li>
            <li>
              <form method="post" action="sessionexecutor/">
                {% csrf_token %}
              <input name="operation_session" type="hidden" value="add">
              <button type="submit" class="btn btn-outline-secondary remotemenu">Добавить сессию</button>
              </form>
            </li>
            <li>
              <form method="post" action="sessionexecutor/">
                {% csrf_token %}
              <input id="select-session" name="select-session-id" type="hidden">
              <input name="operation_session" type="hidden" value="redact">
              <button id="redact-session" type="submit" class="btn btn-outline-secondary remotemenu" disabled>Редактировать сессию</button>
              </form>
            </li>
            <li>
              <button type="button" class="btn btn-outline-secondary remotemenu" data-bs-toggle="modal" data-bs-target="#sessionDeleter">Удалить выборку</button>
            </li>
            </ul>
     </div>
    </div>
</div>
{% endblock content %}
{% block interactive_scripts %}
<script src="{% static 'js_services/js_service.js' %}" type="text/javascript"></script>
<script src="{% static 'js_services/js_table.js' %}" type="text/javascript"></script>
{% endblock interactive_scripts %}