.filter_table
{
margin-left:15px;
}

.haupt_table
{
overflow-x:auto;
max-height:40vh;
}

.table_session
{
font-size:12px;
margin-left:10px;
}

table.table_session th
{
text-align:center;
position:sticky;
top:-2px;
background:white;
}

table.table_session td
{
text-align: center;
vertical-align: middle;
}

table.table_session tbody
{
overflow-y:auto;
background:white;
}
